@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: theme(colors.gray.700);
  --background: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: theme(colors.gray.200);
    --background: 0, 0, 0;
  }
}

body {
  min-height: 100vh;
  color: var(--foreground);
  background: rgb(var(--background));
}
